<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluasi Kinerja Karyawan</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <section>
      <h1>Evaluasi Kinerja Karyawan</h1>
      <form action="/evaluate" method="post">
        <div class="nama">
          <label for="nama">Nama:</label>
          <input type="text" id="nama" name="nama" required /><br />
        </div>
        <div class="produktivitas inputnilai">
          <label for="productivity">Produktivitas: (1-10)</label>
          <div class="input-number">
            <input type="number" id="productivity" name="productivity" min="0" max="10" value="1" required /><br />
            <div class="input-number-actions">
              <button type="button">
                <span>+</span>
              </button>
              <button type="button">
                <span>-</span>
              </button>
            </div>
          </div>
        </div>

        <div class="kualitas inputnilai">
          <label for="quality">Kualitas: (1-10)</label>
          <div class="input-number">
            <input type="number" id="quality" name="quality" min="0" max="10" value="1" required /><br />
            <div class="input-number-actions">
              <button type="button">
                <span>+</span>
              </button>
              <button type="button">
                <span>-</span>
              </button>
            </div>
          </div>
        </div>

        <div class="disiplin inputnilai">
          <label for="discipline">Disiplin: (1-10)</label>
          <div class="input-number">
            <input type="number" id="discipline" name="discipline" min="0" max="10" value="1" required /><br />
            <div class="input-number-actions">
              <button type="button">
                <span>+</span>
              </button>
              <button type="button">
                <span>-</span>
              </button>
            </div>
          </div>
        </div>
        <div class="inisiatif inputnilai">
          <label for="initiative">Inisiatif: (1-10)</label>
          <div class="input-number">
            <input type="number" id="initiative" name="initiative" min="0" max="10" value="1" required /><br />
            <div class="input-number-actions">
              <button type="button">
                <span>+</span>
              </button>
              <button type="button">
                <span>-</span>
              </button>
            </div>
          </div>
        </div>
        <div class="button">
          <button type="submit">Evaluate</button>
        </div>
      </form>
    </section>
    <section>
      <h1>Daftar Karyawan</h1>
      <table>
        <tr>
          <th>Nama</th>
          <th>Produktivitas</th>
          <th>Kualitas</th>
          <th>Disiplin</th>
          <th>Inisiatif</th>
          <th>Predikat</th>
          <th>Score</th>
        </tr>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.nama }}</td>
          <td>{{ employee.productivity }}</td>
          <td>{{ employee.quality }}</td>
          <td>{{ employee.discipline }}</td>
          <td>{{ employee.initiative }}</td>
          <td>{{ employee.predikat }}</td>
          <td>{{ employee.score }}</td>
        </tr>
        {% endfor %}
      </table>
    </section>
    <script>
      document.querySelectorAll(".input-number").forEach(function (inputNumberElement) {
        const inputNumber = inputNumberElement.querySelector("input");
        const plusButton = inputNumberElement.querySelector(".input-number-actions button:first-child");
        const minusButton = inputNumberElement.querySelector(".input-number-actions button:last-child");

        plusButton.addEventListener("click", function (event) {
          event.preventDefault();
          inputNumber.stepUp();
        });

        minusButton.addEventListener("click", function (event) {
          event.preventDefault();
          inputNumber.stepDown();
        });
      });
    </script>
  </body>
</html>
